*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/math.jpeg);
}
header{
    background-color:#f4f3ee;
    padding-top: 5px;
    padding-bottom:5px;
}
header .container{
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    padding-left:auto;
    padding-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Calculator{
    border-radius: 30px;
    padding: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Calculator .field input{
    background-color: #f4f3ee;
    width:340px;
    height: 50px;
    padding:15px;
    border:0;
    border-radius:4px;
    text-align: right;
    font-size: 25px;
}
.Calculator .btn {
    text-align: center;
    margin-top: 15px;
}
.Calculator .btn .row{
    padding: 3px;
}
.Calculator .btn .row input{
    width: 80px;
    height: 50px;
    border: 0;
    padding: 3px;
    cursor: pointer;
    font-weight: bold;
}
.Calculator .btn .row .num{
    background-color:#444444;
    color: white;
    font-size: 20px;
}
.Calculator .btn .row .exp{
    background-color:#f4f3ee;
    font-size: 20px;

}
.Calculator .btn .row .delete{
    background-color:#C42021;
    color: white;
    font-size: 20px;

}
.Calculator .btn .row .clear{
    background-color:#ff9f1c;
    font-size: 20px;
}
footer
{
    background-color:#333;
    text-align: center;
    padding:20px 0;
    color:#f4f3ee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* media query */
@media (max-width:1200px){
    header .container h2{
        font-size: 18px;
    }
    .Calculator{
        padding: 40px;
        height:70%;
    }
    .Calculator .field input{
        width:280px;
        height:45px;
        padding:10px;
    }
    .Calculator .btn .row{
        padding: 2px;
        height:100%;
    }
    .Calculator .btn .row input{
        width: 65px;
        padding: 2px;
        height:60px;
    }footer{
        font-size: 15px;
    }

}
